body {
    background: rgb(70, 142, 236);
    font: normal 15pt arial ;
    color: white;
}

header {
    text-align: center;
}

section {
    color: black;
    background: white;
    padding: 15px;
    width: 500px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.37);
    border: 1px solid black;

}

footer {
    text-align: center;
    font-style: italic;
}

div {
    text-align: center;
    padding: 10px;

}